## <a href='https://www.kaggle.com/datasets/brendan45774/test-file'> **Titanic Dataset**

### Import the required libraries (Pandas, NumPy)

In [ ]:
import numpy as np
import pandas as pd

from google.colab import files
Uploaded = files.upload()

Saving tested.csv to tested (2).csv

### Import data

In [ ]:
df = pd.read_csv("tested.csv")
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### What's the shape of the data?

### What are the first 5 rows in data?

In [ ]:
df.shape

(418, 12)

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### What are the last 5 rows in data?

In [ ]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

### What about any (random) 10 rows in data?

In [ ]:
df.sample(n=10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
246,1138,1,2,"Karnes, Mrs. J Frank (Claire Bennett)",female,22.0,0,0,F.C.C. 13534,21.0000,NaN,S
141,1033,1,1,"Daniels, Miss. Sarah",female,33.0,0,0,113781,151.5500,NaN,S
78,970,0,2,"Aldworth, Mr. Charles Augustus",male,30.0,0,0,248744,13.0000,NaN,S
77,969,1,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.0,2,0,11770,25.7000,C101,S
401,1293,0,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
21,913,0,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
372,1264,0,1,"Ismay, Mr. Joseph Bruce",male,49.0,0,0,112058,0.0000,B52 B54 B56,S
205,1097,0,1,"Omont, Mr. Alfred Fernand",male,NaN,0,0,F.C. 12998,25.7417,NaN,C
23,915,0,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
241,1133,1,2,"Christy, Mrs. (Alice Frances)",female,45.0,0,2,237789,30.0000,NaN,S

### Information about the data:

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

### Statistical summary of the **numerical** columns:

In [ ]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

### Statistical summary of the **categorical** columns:

In [ ]:
df.describe(include=['object', 'category'])

                            Name   Sex    Ticket            Cabin Embarked
count                        418   418       418               91      418
unique                       418     2       363               76        3
top     Peter, Master. Michael J  male  PC 17608  B57 B59 B63 B66        S
freq                           1   266         5                3      270

### Check if the data contain duplicated values or not, **and if it does**, remove them.

In [ ]:
duplicate_rows = df.duplicated().sum()
print(duplicate_rows)

0

### Remove any useless column; like the `PassengerId` column:

In [ ]:
df = df.drop(columns=['Parch'])
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### How many missing values in each column in the data?

In [ ]:
nan_values = df.isna().sum()
print(nan_values)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

### Can you show them in **percentage**?

In [ ]:
for column, nan_values in df.isna().sum().items():
  precentage = nan_values/len(df)*100
  print(f"{column}: {precentage}%")

PassengerId: 0.0%
Survived: 0.0%
Pclass: 0.0%
Name: 0.0%
Sex: 0.0%
Age: 20.574162679425836%
SibSp: 0.0%
Ticket: 0.0%
Fare: 0.23923444976076555%
Cabin: 78.22966507177034%
Embarked: 0.0%

### Remove the column with the **most** missing values:

In [ ]:
del_col = nan_values.idxmax()
print(del_col)
print('-' * 20)
df = df.drop(columns=[del_col])
print(df.columns)

Cabin
--------------------
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Ticket', 'Fare', 'Embarked'],
      dtype='object')

### Delete the row with the only missing value in `Fare` column:
> Consider using boolean mask in your approach, **don't** just do `dropna()`

In [ ]:
nan_value_fare = df[df['Fare'].isna()]
print(nan_value_fare)
df.drop(index = [152], inplace=True)

     PassengerId  Survived  Pclass                Name   Sex   Age  SibSp  \
152         1044         0       3  Storey, Mr. Thomas  male  60.5      0

    Ticket  Fare Embarked
152   3701   NaN        S

## Working with age column:

### What's the **smallest** age value?

In [ ]:
df['Age'].min()

0.17

### What's the **largest** age value?

In [ ]:
#show age largest value:
df['Age'].max()

76.0

### Fill missing values of `Age` column with the column mean:

In [ ]:
df['Age'] = df['Age'].fillna(0)

### Apply the ceiling function to all the values in the `Age` column and transform it from float to integer:

In [ ]:
df['Age'] = df['Age'].apply(np.ceil).astype(int)
df['Age'].dtype

dtype('int64')

### Save all changes in a new excel file called `cleaned_data.xlsx`:

In [ ]:
df.to_excel('cleaned_data.xlsx', index=False)

In [ ]:
files.download('/content/cleaned_data.xlsx')

### What did you notice about the data?
> Write your notes and insights in the next empty markdown cell

**Note:** You are free to write any code to help you **get more insights** , it would be nice to do some **filtering** and **grouping** in data

[Your answer]

In [ ]:
from google.colab import data_table

new_df = pd.read_excel('/content/cleaned_data.xlsx')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# remove a column is Pclass & Fare
new_df = new_df.drop(columns=['Pclass'])
new_df = new_df.drop(columns=['Fare'])

# filter by gender
female_df = new_df[new_df['Sex'] == 'female']
male_df = new_df[new_df['Sex'] == 'male']

# remove a column is Sex & Survived & Ticket & SibSp
female_df = female_df.drop(columns=['Sex'])
female_df = female_df.drop(columns=['Survived'])
female_df = female_df.drop(columns=['Ticket'])
female_df = female_df.drop(columns=['SibSp'])

male_df = male_df.drop(columns=['Sex'])
male_df = male_df.drop(columns=['Survived'])
male_df = male_df.drop(columns=['Ticket'])
male_df = male_df.drop(columns=['SibSp'])

# sort data by age
female_df = female_df.sort_values(by=['Age'])
male_df = male_df.sort_values(by=['Age'])

# mean of age
avg_f = female_df['Age'].mean()
avg_m = male_df['Age'].mean()

print(f'average age of female: {avg_f}')
print('\n')
print(f'average age of male: {avg_m}')

average age of female: 25.30263157894737


average age of male: 23.2188679245283

In [ ]:
# to show data in another table
data_table.DataTable(female_df, include_index=False, num_rows_per_page=20)

In [ ]:
data_table.DataTable(male_df, include_index=False, num_rows_per_page=20)